/* 
    1.  General Styles
    2.  Font Styles
    3.  Home Page Styles
        3.1. Hero Section
        3.2. Info Section
        3.3. Recipe Section
        3.4. Services Section
    4.  Footer Styles
*/


/* 1. ---General Styles--- */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #4D4545;
    font-family: "moonblossom", sans-serif;
}

img, embed, object, video, picture {
    max-width: 80%;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

p {
    line-height: 2em;
    font-size: 18px;
}

.spacer {
    margin-top: 60px;
}

.txt-spacer {
    margin-top: 25px;
}

.button-style {
    border: 1px solid #4D4545;
    border-radius: 40px;
    text-align: center;
    padding: 20px 32px;
    font-size: 20px;
    width: 165px;
    background-color: #FFE394;
}

.button-style span {
    font-size: 45px;
    padding-right: 10px;
}

.button-style:hover {
    background-color: #ffebb3;
    cursor: pointer;
}

/* ---End of General Styles--- */


/* 2. ---Font Styles--- */

.olivita {
    font-family: "olivita", sans-serif;
}

.moonblossom {
    font-family: "moonblossom", sans-serif;
}

.chowdown {
    font-family: "chowdown", sans-serif;
}

/* ---End of Font Styles--- */


/* 3. ---Home Page Styles--- */

/* 3.1. Hero Section */

#hero-section {
    background-color: #BEDABC;
    padding-bottom: 30px;
}

#hero-section h2 {
    font-size: 8.1vw;
}

#hero-section h3 {
    font-size: 7vw;
    font-weight: normal;
}

#hero-section hr {
    border: none;
    height: 1px;
    background-color: #4D4545;
}

/*@media screen and (max-width: 1199px) {
    #hero-section h2 {
        font-size: 7.8vw;
    }

    #hero-section h3 {
        font-size: 6.7vw;
    }
}

@media screen and (max-width: 767px) {
    #hero-section h2 {
        font-size: 7.4vw;
    }

    #hero-section h3 {
        font-size: 6.5vw;
    }
}*/

#hero-section-text p {
    font-size: 22px;
}

#hero-section-text p.small {
    font-size: 15px;
}

#hero-section-text {
    margin-left: 100px;
}

#hero-section img {
    border-radius: 40px;
}

#hero-section-text, #hero-section-img {
    margin-top: auto;
    margin-bottom: auto;
}

/* 3.2. Info Section */

#info-section div {
    margin-top: auto;
    margin-bottom: auto;
}

#info-section-text span {
    font-size: 28px;
}

#info-section-text p {
    font-size: 20px;
}

#info-section-text {
    margin-right: 100px;
}

/* 3.3. Recipe Section */

#recipe-section {
    background-color: #FDB8B0;
    width: 105%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.recipe-con {
    background-color: white;
    border-radius: 40px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
}

.recipe-con img {
    border-radius: 40px;
}

.recipe-text {
    margin-left: 55px;
    padding: 0;
}

.recipe-text p {
    font-size: 28px;
}

.recipe-text p.small {
    font-size: 15px;
}

.recipe-btn {
    margin-right: 50px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#recipe-section-arrows {
    z-index: 1;
    position: relative;
    margin-top: -92px;
    margin-left: 20px;
}

#recipe-section-arrows img {
    margin-right: 20px;
}

#recipe-section-arrows img:last-child {
    margin-right: 0;
}

#recipe-section-arrows img:hover {
    cursor: pointer;
}

/* 3.4. Services Section */

#services-section h2 {
    font-size: 60px;
}

#services-section h3 {
    font-size: 25px;
}

#services-section img {
    width: 60%;
}

.services-con {
    border: 1px solid #4D4545;
    border-radius: 40px;
    padding-bottom: 40px;
}

.services-btn {
    z-index: 1;
    position: relative;
    margin-top: -80px;
    margin-left: 20px;
}

.services-btn .button-style {
    font-size: 28px;
    padding-left: 60px;
    padding-right: 60px;
}

/* ---End of Home Page Styles--- */


/* 4. ---Footer Styles--- */

footer {
    background-color: #3C3C3C;
    background-image: url(../images/footer-overlay.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 100px;
}

footer p {
    font-size: 30px;
}

#socials div, #contact div {
    margin-top: auto;
    margin-bottom: auto;
}

#socials, #contact {
    margin-left: 80px;
}

#socials ul li {
    display: inline;
    margin-right: 50px;
    font-size: 50px;
}

#socials ul li:last-of-type {
    margin-right: 0;
}

#contact .button-style {
    color: #4D4545;
    font-size: 28px;
    padding-left: 60px;
    padding-right: 60px;
}

footer hr {
    border: none;
    height: 1px;
    background-color: white;
}

footer h2 {
    font-size: 8.1vw;
    color: #FDB8B0;
}

/* ---End of Footer Styles--- */